<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/stylepedido.css')}}">
    <title>Pedidos</title>
</head>
<body>
    <form class="form-DetallePedidos" action="/pedidos/AltaPedido" method="post" enctype="multipart/form-data">
        <h4>Pedidos</h4>
        <label>Id Pedido</label>
        <input class="controls" type="number" name="idPedido"  placeholder="">
        <label>Id Comprador</label>
        <input class="controls" type="number" name="idComprador"  placeholder="">
        <label>Id Tarjeta</label>
        <input class="controls" type="number" name="idTarjeta"  placeholder="">
        <label>Id Vendedor</label>
        <input class="controls" type="number" name="idVendedor"  placeholder="">
        <label>Fecha Registro</label>
        <input class="controls" type="date" name="fechaRegistro"  placeholder="">
        <label>Fecha Atencion</label>
        <input class="controls" type="date" name="fechaAtencion"  placeholder="">
        <label>Fecha Recepcion</label>
        <input class="controls" type="date" name="fechaRecepcion"  placeholder="">
        <label>Fecha Cierre</label>
        <input class="controls" type="date" name="fechaCierre"  placeholder="">
        <label>Total</label>
        <input class="controls" type="number" name="total"  placeholder="">
        <label for="">Estatus</label>
        <input class="radios" type="radio" id="Activo" name="estatus" value="Activo" checked>
        <label class="radios" for="Activo">Activo</label>
        <input class="radios" type="radio" id="Inactivo" name="estatus" value="Activo">
        <label class="radios" for="Activo">Inactivo</label>
        <br>
        <a href="/pedidos/AltaPedido"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/Pedidos"><input class="buttons" type="buttons" value="Cancelar"></a>
    </form>
</body>
</html>