<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/DetallePedidos.css')}}">
    <title>Detalles Pedidos</title>
</head>
<body>
    <section class="form-DetallePedidos">
        <label>idDetalle</label>
        <input class="controls" type="text" name="idDetalle" id="idDetalle" placeholder="Ingresa el id Detalle">
        <label>idPedido</label>
        <input class="controls" type="text" name="idPedidos" id="idPedidos" placeholder="Ingresa el id Pedidos">
        <label>idProducto</label>
        <input class="controls" type="text" name="idProducto" id="idProducto" placeholder="Ingresa el id Producto">
        <label>Precio</label>
        <input class="controls" type="number" name="Precio" id="Precio" placeholder="Ingresa el precio">
        <label>CantidadPedida</label>
        <input class="controls" type="text" name="cantidadPedida" id="cantidadPedida" placeholder="Ingresa la cantidad cantidad Pedida">
        <label>CantidadEnviada</label>
        <input class="controls" type="text" name="cantidadEnviada" id="cantidadEnviada" placeholder="Ingresa la cantidad Enviada">
        <label>CantidadAceptada</label>
        <input class="controls" type="text" name="cantidadAceptada" id="cantidadAceptada" placeholder="Ingresa la cantidad Aceptada">
        <label>CantidadRechazada</label>
        <input class="controls" type="text" name="cantidadRechazada" id="cantidadRechazada" placeholder="Ingresa la cantidad Rechazada">
        <label>Subtotal</label>
        <input class="controls" type="number" name="subtotal" id="subtotal" placeholder="Ingresa el subtotal">
         <label for="">Estatus</label>
        <input class="radios" type="radio" id="Activo" name="estatus" value="Activo" checked>
        <label class="radios" for="Activo">Activo</label>
        <input class="radios" type="radio" id="Inactivo" name="estatus" value="Activo">
        <label class="radios" for="Activo">Inactivo</label>
        <br>
        <label>comentario</label>
        <input class="controls" type="text" name="comentario" id="comentario" placeholder="comentarios">

    
        <a href="/paginaPrincipal"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/paginaPrincipal"><input class="buttons" type="submit" value="Cancelar"></a>
    </section>
</body>
</html>