{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearCategoria.css')}}">
    <h1>LISTADO DE PAQUETERIAS</h1>
    <div class="table-responsive">
        <a href="" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
           Agregar Paqueteria
       </a>
    <table class="table table-bordered">
        <thead>
            <th>NOMBRE</th>
            <th>PAGINAWEB</th>
            <th>PRECIOGR</th>
            <th>TELEFONO</th>
            <th>ESTATUS</th>
            <th>VER</th>
        </thead>
        {% for Paqueteria in paqueteria %}
            <tr>
                <td>{{Paqueteria.NOMBRE}}</td>
                <td>{{Paqueteria.PAGINAWEB}}</td>
                <td>{{Paqueteria.PRECIOGR}}</td>
                <td>{{Paqueteria.TELEFONO}}</td>
                <td>{{Paqueteria.ESTATUS}}</td>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <td>
                    <a href="">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}