<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styletarjeta.css')}}">
    <title>Tarjetas</title>
</head>
<body>
    <section class="form-tarjeta">
        <h4>Tarjetas</h4>
        <label>idUsuario</label>
        <input class="controls" type="number" name="Id Usuario"  placeholder="">
        <label>Numero de Tarjeta:</label>
        <input class="controls" type="text" name="noTarjeta"  placeholder="">
        <label>Saldo</label>
        <input class="controls" type="number" name="saldo"  placeholder="">
        <label>Banco</label>
        <input class="controls" type="text" name="banco"  placeholder="">
        <br>
        <a href="/paginaPrincipal"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/paginaPrincipal"><input class="buttons" type="submit" value="Cancelar"></a>
    </section>
</body>
</html>