{% extends 'comunes/base.html' %}
{% block navbar %}
{{super()}}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearCategoria.css')}}">
<h1>LISTADO DE TARJETAS</h1>
<div class="table-responsive">
    <a href="/tarjetas/agregar" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar Tarjeta
    </a>
    <table class="table table-bordered">
        <th>IDTARJETA</th>
        <th>IDTARJETA</th>
        <th>IDUSUARIO</th>
        <th>NoTARJETA</th>
        <th>SALDO</th>
        <th>BANCO</th>
        <th>ESTATUS</th>
        <th>VER</th>
        {% for tar in Tarjetas %}
        <tr>
            <td>{{tar.idTarjeta}}</td>
            <td>{{tar.idTarjeta}}</td>
            <td>{{tar.idUsuario}}</td>
            <td>{{tar.noTarjeta}}</td>
            <td>{{tar.saldo}}</td>
            <td>{{tar.banco}}</td>
            <td>{{tar.estatus}}</td>
            <td>
                <a href="/Tarjetas/{{tar.idTarjeta}}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        </tr> 
        {% endfor %}
    </table>
</div>
</div>
</div>
</div>
</div>

{% endblock %}