<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearProducto.css')}}">
    <title>Carrito</title>
</head>
<body>
    <section class="form-Carrito">
        <label>idCarrito</label>
        <input class="controls" type="text" name="idCarrito" id="idCarrito" placeholder="Ingresa el id Carrito">
        <label>idUsuario</label>
        <input class="controls" type="text" name="idUsuario" id="idUsuario" placeholder="Ingresa el id idUsuario">
        <label>idProducto</label>
        <input class="controls" type="text" name="idProducto" id="idProducto" placeholder="Ingresa el id Producto">
        <label>Fecha</label>
        <input class="controls" type="date" name="Fecha" id="Fecha" placeholder="Ingresa la Fecha">
        <label>cantidad</label>
        <input class="controls" type="text" name="cantidad" id="cantidad" placeholder="Ingresa la cantidad ">
         <label for="">Estatus</label>
        <input class="radios" type="radio" id="Activo" name="estatus" value="Activo" checked>
        <label class="radios" for="Activo">Activo</label>
        <input class="radios" type="radio" id="Inactivo" name="estatus" value="Activo">
        <label class="radios" for="Activo">Inactivo</label>
        <br>
        <label>comentario</label>
        <input class="controls" type="text" name="comentario" id="comentario" placeholder="comentarios">

    
        <a href="/paginaPrincipal"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/paginaPrincipal"><input class="buttons" type="submit" value="Cancelar"></a>
    </section>
</body>
</html>