<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearCuenta.css')}}">
  <title>Crear Cuenta</title>
</head>
<body>
  <section class="form-CrearCuenta">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre Completo">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su direccio">
    <input class="controls" type="tel" name="telefono" id="telefono" placeholder="Ingrese su Telefono">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="pass" id="pass" placeholder="Ingrese su Contraseña">
    <label class="radios" for="">Tipo: </label>
    <input class="radios" type="radio" id="cliente" name="cliente" value="Cliente" checked>
    <label class="radios" for="cliente" id="cliente">Cliente</label>
    <input class="radios" type="radio" id="vendedor" name="vendedor" value="Vendedor">
    <label class="radios" for="vendedor">Vendedor</label>
    <input class="radios" type="radio" id="administrador" name="administrador" value="Administrador">
    <label class="radios" for="administrador">Vendedor</label>
    <br>
    <label class="radios" for="">Estatus: </label>
    <input class="radios" type="radio" id="Activo" name="estatus" value="Activo" checked>
    <label class="radios" for="Activo" id="tipo">Activo</label>
    <input class="radios" type="radio" id="Inactivo" name="estatus" value="Inactivo">
    <label class="radios" for="Activo">Inactivo</label>
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="buttons" type="submit" value="Registrar">
    <p><a href="/">¿Ya tengo Cuenta?</a></p>
  </section>

</body>
</html>
