<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styleIndex.css')}}">
    <title>Pagina Principal</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/categorias/new">Crear Categoria</a></li>
            <li><a href="/productos/new">Productos</a></li>
            <li>Opción 3</li>
            <li>Opción 4</li>
            <li id="cerrarSesion"><a href="/">Cerrar sesión</a></li>
        </ul>
    </nav>
</body>

</html>