<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearProducto.css')}}">
    <title>Registrar Productos</title>
</head>
<body>
    <form class="form-productos" action="/productos/agregar" method="post" enctype="multipart/form-data">
        <h4>Registrar Productos</h4>
        <label for="categoria">Categoria</label>
        <input class="controls" type="number" name="categoria" placeholder="Ingrese el id categoria">
        <br>
        <label>Nombre del producto</label>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingresa el nombre de la categoria">
        <label>Descripción</label>
        <input class="controls" type="text" name="descripcion" id="descripcion" placeholder="Ingresa su descripcion">
        <label>Precio</label>
        <input class="controls" type="number" name="precio" id="precio" placeholder="Ingresa su precio">
        <label>Existencia</label>
        <input class="controls" type="number" name="existencia" id="existencia" placeholder="Ingresa su existencia">
        <label>Seleciona un archivo de las especificaciones:</label>
        <input class="controls" type="file" id="file" accept="application/pdf" name="archivo">
        <label>Seleciona una imagen:</label>
        <input class="controls" type="file" id="file" accept="image/*" name="imagen">
        <br>
        <a href="/productos/agregar"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/productos"><input class="buttons" type="button" value="Cancelar"></a>
    </form>
</body>
</html>