{% extends 'comunes/base.html' %}
{% block navbar %}
{{super()}}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
{{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/stylepedido.css')}}">
    <title>Pedidos</title>
</head>

<body>
    <form class="form-DetallePedidos" action="/envios/agregar" method="post" enctype="multipart/form-data">
        <h4>Envios</h4>
        <label>Id Pedido</label>
        <input class="controls" type="number" name="idpedido" placeholder="">
        <label for="">Paqueteria</label>
        <input class="controls" type="number" name="idpaqueteria" placeholder="">
        <br>
        <label>Fecha Envio</label>
        <input class="controls" type="date" name="fechaenvio" placeholder="">
        <label>Fecha Entrega</label>
        <input class="controls" type="date" name="fechaentrega" placeholder="">
        <label>Numero de Guia</label>
        <input class="controls" type="number" name="numeroguia" placeholder="">
        <label>Peso(KG)</label>
        <input class="controls" type="number" name="pesopaquete" placeholder="">
        <label>Precio</label>
        <input class="controls" type="number" name="precio" placeholder="">
        <label>Total</label>
        <input class="controls" type="number" name="total" placeholder="">
        <br>
        <a href="/envios/agregar"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/"><input class="buttons" type="button" value="Cancelar"></a>
    </form>
</body>

</html>

{% endblock %}