{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearCategoria.css')}}">
{{super()}}
<div>
    <h1 class="bg-primary text-center">Listado de Envios</h1>
    {% if current_user.is_authenticated and current_user.is_admin() %}
    <a href="/envios/nuevo" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar Envio
    </a>
    {% endif %}
    <table class="table table-bordered">
        <th>ID</th>
        <th>FECHAENVIO</th>
        <th>FECHAENTREGA</th>
        <th>NOGUIA</th>
        <th>TOTALPAGAR</th>
        {% if current_user.is_authenticated and current_user.is_admin() %}
         <th>ESTATUS</th>
        <th>Ver</th>
        {% endif %}
        {% for envios in envios %}
            <tr>
                <td>{{envios.IDENVIO}}</td>
                <td>{{envios.FECHAENVIO}}</td>
                <td>{{envios.FECHAENTREGA}}</td>
                <td>{{envios.NOGUIA}}</td>
                <td>{{envios.TOTALPAGAR}}</td>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                    <td>{{envios.ESTATUS}}</td>
                
                    <td>
                        <a href="/envios/{{envios.IDENVIO}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}