<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearCategoria.css')}}">
    <title>Categorias</title>
</head>

<body>
    <form class="form-categorias" action="/Categorias/agregar" method="post" enctype="multipart/form-data">
        <h4>Registrar Categorias</h4>
        <label>Nombre de la Categoria</label>
        <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingresa el nombre de la categoria">
        <label>Seleciona una imagen:</label>
        <input class="controls" type="file" id="file" name="imagen" accept="image/*">

        <br>
        <a href="/Categorias/agregar"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/"><input class="buttons" type="submit" value="Cancelar"></a>
    </form>
</body>

</html>