<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/DetallePedidos.css')}}">
    <title>Detalles Pedidos</title>
</head>
<body>
    <form class="form-DetallePedidos">
        <label>idDetalle</label>
        <input class="controls" type="text" name="idDetalle"  placeholder="Ingresa el id Detalle">
        <label>idPedido</label>
        <input class="controls" type="text" name="idPedido"  placeholder="Ingresa el id Pedidos">
        <label>idProducto</label>
        <input class="controls" type="text" name="idProducto"  placeholder="Ingresa el id Producto">
        <label>Precio</label>
        <input class="controls" type="number" name="Precio"  placeholder="Ingresa el precio">
        <label>CantidadPedida</label>
        <input class="controls" type="text" name="cantidadPedida"  placeholder="Ingresa la cantidad cantidad Pedida">
        <label>CantidadEnviada</label>
        <input class="controls" type="text" name="cantidadEnviada"  placeholder="Ingresa la cantidad Enviada">
        <label>CantidadAceptada</label>
        <input class="controls" type="text" name="cantidadAceptada"  placeholder="Ingresa la cantidad Aceptada">
        <label>CantidadRechazada</label>
        <input class="controls" type="text" name="cantidadRechazada"  placeholder="Ingresa la cantidad Rechazada">
        <label>Subtotal</label>
        <input class="controls" type="number" name="subtotal"  placeholder="Ingresa el subtotal">
        <br>
        <label>comentario</label>
        <input class="controls" type="text" name="comentario" id="comentario" placeholder="comentarios">

    
        <a href="/Detallepedidos/Alta"><input class="buttons" type="submit" value="Guardar"></a>
        <a href="/Detallepedido"><input class="buttons" type="button" value="Cancelar"></a>
    </form>
</body>
</html>