{% extends 'comunes/base.html' %}
{% block navbar %}
{{super()}}
{% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{{url_for('static',filename='css/styletarjeta.css')}}">
<div>
    <h1 class="bg-primary bg-lg text-center">Edición de Detalle pedidos</h1>
    <form action="/Detallepedidos/EditarPedido" method="post">
        <div class="form-group">
            <label for="idDetalle">idDetalle:</label>
            <input type="number" name="idDetalle" class="controls" value='{{DetallePedido.idDetalle}}' readonly class="controls">
        </div>
        <div class="form-group">
            <label for="idPedido">idPedido:</label>
            <input type="number" name="idPedido" class="controls" value='{{DetallePedido.idPedido}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="idProducto">idProducto:</label>
            <input type="number" name="idProducto" class="controls" value='{{DetallePedido.idProducto}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="precio">precio:</label>
            <input type="number" name="precio" class="controls" value='{{DetallePedido.precio}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="cantidadPedida">cantidadPedida:</label>
            <input type="number" name="cantidadPedida" class="controls" value='{{DetallePedido.cantidadPedida}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="cantidadEnviada">cantidadEnviada:</label>
            <input type="number" name="cantidadEnviada" class="controls" value='{{DetallePedido.cantidadEnviada}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="cantidadAceptada">cantidadAceptada:</label>
            <input type="number" name="cantidadAceptada" class="controls" min="0" value='{{DetallePedido.cantidadAceptada}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="cantidadRechazada">cantidadRechazada:</label>
            <input type="number" name="cantidadRechazada" class="controls" value='{{DetallePedido.cantidadRechazada}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="subtotal">subtotal:</label>
            <input type="number" name="subtotal" class="controls" value='{{DetallePedido.subtotal}}'  class="controls">
        </div>
        <div class="form-group">
            <label for="comentario">comentario:</label>
            <input type="text" name="comentario" class="controls" value='{{DetallePedido.comentario}}'  class="controls">
        </div>
        <div class="controls">
            <label for="estatus">ESTATUS:</label>
            {% if DetallePedido.estatus=='Activa' %}
            <input type="checkbox" name="estatus" value="Activa" checked>
            {% else %}
            <input type="checkbox" name="estatus" value="Activa">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Guardar
        </button>
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#borrar">
            <span class="glyphicon glyphicon-trash"></span>
            Eliminar
        </a>
        <a href="/Detallepedido" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Cancelar
        </a>
    </form>
</div>
</div>
</div>

<!-- Modal para ver el cuadro de dialogo de eliminar-->
<div id="borrar" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación</h4>
            </div>
            <div class="modal-body">
                <p>¿ Estas seguro de eliminar el Detalle:<b>{{DetallePedido.idDetalle}} ?</b> </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/Detallepedidos/eliminar/{{DetallePedido.idDetalle}}">Aceptar</a>
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}