{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='css/styleCrearCuenta.css')}}">
  <title>Crear Cuenta</title>
</head>
<body>
  <form class="form-CrearCuenta" method="post" enctype="multipart/form-data">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombre" id="nombres" placeholder="Ingrese su Nombre Completo">
    <input class="controls" type="text" name="direccion" id="apellidos" placeholder="Ingrese su direccio">
    <input class="controls" type="tel" name="telefono" id="telefono" placeholder="Ingrese su Telefono">
    <input class="controls" type="email" name="email" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="password" id="pass" placeholder="Ingrese su Contraseña">
    {% if current_user.is_authenticated and current_user.is_admin() %}
    <label class="radios" for="">Tipo: </label>
    <input class="radios" type="radio" id="cliente" name="cliente" value="Cliente" checked>
    <label class="radios" for="cliente">Cliente</label>
    <input class="radios" type="radio" id="vendedor" name="vendedor" value="Vendedor">
    <label class="radios" for="vendedor">Vendedor</label>
    <input class="radios" type="radio" id="administrador" name="administrador" value="Administrador">
    <label class="radios" for="administrador">Vendedor</label>
    {% endif %}
    <br>
    <div class="radios">
      <label>Genero:</label>
      <label class="radio-inline"><input type="radio" name="genero" value="F" checked>Femenino</label>
      <label class="radio-inline"><input type="radio" name="genero" value="M">Masculino</label>
  </div>
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <a href="/Usuarios/agregar"><input class="buttons" type="submit" value="Registrar"></a> 
    <p><a href="/">¿Ya tengo Cuenta?</a></p>
  </form>

</body>
</html>

{% endblock %}
