{% extends 'comunes/base.html' %}
{% block contenido %}
    {{super()}}

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static',filename='css/styleLogin.css')}}">
        <title>Login</title> 
    </head>
    <body>
        <form class="form-login" action="/Usuarios/validarSesion" method="post">
            <h5>Login</h5>
            <input class="controls" type="email" name="correo" placeholder="Correo electronico">
            <input class="controls" type="password" name="password" placeholder="Contraseña">
            <a><input class="buttons" type="submit" value="Ingresar""></a>
            <p><a href="/Usuarios/nuevo">No tengo una cuenta</a></p>
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </form>
    </body>


{% endblock %}